.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: #ffe600;
  color: rgb(0, 0, 0);
}

.links {
  display: flex;
  gap: 20px;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #000000;
  border-radius: 51px;
  background: #ffe600;
  box-shadow:
    9px 9px 17px #a89800,
    -9px -9px 17px #ffff00;
  padding: 10px 15px;
}

.link:hover {
  border-radius: 51px;
  background: #ffe600;
  box-shadow:
    inset 9px 9px 17px #a89800,
    inset -9px -9px 17px #ffff00;
}

.linkText {
  font-size: 0.9rem;
  font-weight: bold;
  color: #000000;
}

.disabled {
  pointer-events: none;
  color: #a0a0a0;
  box-shadow: none;
  background: #ffe600;
}
