/* Contenedor principal */
.container {
  padding: 20px;
}

/* Título de la sección */
.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Contenedor de las tarjetas */
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
