

/* Título de la sección */
.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.searchBarContainer{
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* (Opcional) Centrar verticalmente si es necesario */
  width: 100%; 
}