/* Contenedor principal */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: white;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
