/* Contenedor principal */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
