/* Contenedor principal */
.card {
  padding-bottom: 20px;
  text-align: center;
  width: 200px;
  border-radius: 35px;
  background: #ffffff;
  box-shadow:
    11px 11px 27px #bdbdbd,
    -11px -11px 27px #ffffff;
}

.card:hover {
  border-radius: 34px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:
    11px 11px 40px #bdbdbd,
    -11px -11px 40px #ffffff;
}

/* Estilo del enlace */
.cardLink {
  text-decoration: none;
  color: inherit;
}

/* Imagen del personaje */
.characterImage {
  width: 100%;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

/* Botón de favorito */
.favoriteButton {
  color: red;
  border: 0px;
  height: 35px;
  width: 35px;
  border-radius: 40px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow:
    3px 3px 6px #b3b3b3,
    -3px -3px 6px #ffffff;
}

.favoriteButton.isFavorite {
  color: red;
  border-radius: 40px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:
    4px 4px 8px #b3b3b3,
    -4px -4px 8px #ffffff;
}

.favoriteButton:hover {
  opacity: 0.8;
  border-radius: 81px;
  background: #ffffff;
  box-shadow:
    inset 5px 5px 13px #bdbdbd,
    inset -5px -5px 13px #ffffff;
}
