/* Contenedor principal */
.container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
  background-color: #f9f9f9;
  padding: 2rem;
}

/* Tarjeta principal */
.card {
  background-color: white;
  border-radius: 35px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-top: 35px;
  max-width: 70%;
  width: 100%;
  text-align: center;
  height: fit-content;
}

/* Imagen circular del personaje */
.characterImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  border: 4px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Título del personaje */
.title {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 20px 0 10px;
  color: #333;
}

/* Información del personaje */
.infoText {
  font-size: 1rem;
  margin: 5px 0;
  color: #555;
}

.infoLabel {
  font-weight: bold;
  color: #333;
}

/* Sección de episodios */
.episodes {
  margin-top: 20px;
}

.episodesTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
  cursor: pointer;
  text-align: center;
}

.episodesBox {
  color: #ffffff;
  list-style: none;
  padding: 20px;
  margin-top: 10px;
  background-color: #212121;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.episodesList li {
  margin-top: 8px;
  font-size: 0.9rem;
  color: #e2e2e2;
}

.episodesList li strong {
  color: #e2e2e2;
}
