/* Contenedor principal */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fdfdfd;
}

/* Estilo de la imagen de carga */
.loadingImage {
  width: 150px;
}
